* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-svg {
    fill: black; /* Default color */
    transition: fill 0.2s ease-in-out; /* Smooth color transition */
}

.nav-link:hover .nav-svg {
    fill: #38aee0; /* Color changes to blue on hover */
    /* Flex for top section */
}

.p-tag {
    /* border: 2px solid red; */
    text-align: center;
    color: #38aee0;
    cursor: pointer;
}

.custom-log {
    /* color: #38aee0; */
    text-decoration: underline;
}
/* search Bar */
.custom-css {
    margin-bottom: 30px;
}
#search {
    border-right: none; /* Creates a seamless link between the input and the button */
}

.btn-primary:hover {
    background-color: #2a8ca1;
    border-color: #2a8ca1;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(56, 174, 224, 0.5);
}

/* production */
.h1-custom-font {
    font-size: 4.5rem;
}
.custom-hr {
    border-radius: 50px;
    border: 4px solid black;
    opacity: 100%;
    background: #000;
    width: 17%;
    margin: 0 auto;
}
/* filter */
.filter {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
}
.custom-btn {
    border: 2px solid #38aee0;
    border-radius: 30px;
    background: #fff;
    /* background: #38aee0; */
    /* color: white; */
    padding: 4px 30px 4px 30px;
    transition: all 200ms ease-in-out;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.custom-btn:hover {
    /* border: 2px solid #38aee0; */
    border: none;
    background: #38aee0;
    color: white;
    transform: scale(1.07);
    transition: all 200ms ease-in-out;
}

/* Product list */

/* Carousal */
.custom-size {
    width: auto;
    height: 50vh;
}
.custom-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.custom-border {
    border: 5px solid black;
    border-radius: 30px;
}
.custom-bg {
    background: rgba(249, 249, 249, 0.8);
    /* border: 2px solid black; */
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
}

/* Category */
.custom-style {
    font: 1rem;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}
.custom-style:hover {
    font-size: 1.1rem;
    transition: all 100ms ease-in-out;
}

/* Search bar */
.custom-search {
    margin: 0 auto;
    max-width: 80%;
    /* border: 2px solid black; */
}

/* Card */
.custom-card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
